* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  
  .visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  
  ol, ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 1320px;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero__img {
    margin-top: 100px;
    width: 100%;
  }